@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    background-color:rgb(245, 245, 245);
    padding: 0;
    margin: 0;
}

/* HAUT DE PAGE */

header {
    text-align: center;
    padding-bottom: 0px;
    background-color: rgb(86, 163, 166);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: rgb(255, 255, 255);
    position:relative;
}


header img{
    height: 350px;
    justify-content: end;
}

.marque {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:150px;
}

/* Barre de navigation */
nav {
    background-color: rgb(25, 100, 126);
    position:fixed;
    justify-content: start;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

#liens-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0;
}

#liens-navbar a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    transition: color 0.3s ease;
}

#liens-navbar a:hover {
    border: 1px solid rgb(255, 255, 255);
}

nav li ul{
    text-align: center;
}

#logo {
    height: 40px;
}

/* panier */
#panier {
    display: flex;
    align-items: center;
}

#panier-img {
    height:30px;
    margin-top: 4px;
    cursor: pointer;
}

/* Menu déroulant */
.menu-deroulant{
    float: left;
    overflow: hidden;
}

.menu-deroulant .deroulant-btn{
    font-size:18px;
    font-weight: 600;
    border:none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    background-color: rgb(25, 100, 126);
    margin: 0;
}    

.menu-deroulant:hover .deroulant-btn{
    background-color: rgb(25, 100, 126);
    border: 1px solid rgb(255, 255, 255);
}

.menu-contenu{
    display: none;
    position: absolute;
    background-color: rgb(25, 100, 126);
    min-width: 160px;
    z-index: 1;
}

.menu-contenu a{
    float: none;
    color: rgb(243, 247, 254);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-contenu a:hover{
    background-color: rgb(115, 130, 144);
}

.menu-deroulant:hover .menu-contenu{
    display: block;
}

img#nom{
    height: 150px;
}

/* Barre de recherche */
form {
    display: flex;
    justify-content: center;
}

.recherche input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
  
.recherche input[type="text"]::placeholder {
    color: rgb(25, 100, 126);
    text-align: center;
}
  
.recherche img {
    margin-top: 3px;
    margin-left: 5px;
    width: 28px; 
    height: 28px;
    cursor: pointer;
}



/* Message promotionnel */
.promotion-message {
    background-color: rgb(84, 166, 124);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.promotion-message p {
    margin: 0;
}

.titres {
    text-decoration: underline;
}


/* Articles */
main {
    margin: 50px;
    padding: 25px;
}

article {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    transition: transform 0.2s;
}

article:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.haut {
    position: absolute;
    z-index: 1;
    margin-top: 6px;
    color: rgb(243, 247, 254);
}

.stock, .reduction {
    border-radius: 10px;
    padding: 5px;
}

.stock {
    border: 1px solid rgb(91, 137, 73);
    background-color: rgb(91, 137, 73);
    margin-left: 5px;
}

.reduction {
    border: 1px solid rgb(164, 52, 52);
    background-color: rgb(164, 52, 52);
}

.produit {
    position: relative;
    z-index: 0;
    height: 300px;
    width: 300px;
    border-radius: 25px;
}

h2,h3 {
    text-align: center;
    color: rgb(25, 100, 126);
    margin: 0;
    padding: 2px;
}

h4 {
    color: rgb(243, 247, 254);
    text-align: center;
}

/* Dessous image */
.prix {
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    font-weight: 600;
    color: rgb(6, 45, 59);
}

.prix-normal {
    text-decoration: line-through;
    font-weight: 600;
    color: rgb(25, 100, 126);
}

.etoile {
    height: 20px;
    width: 100px;
}

.avis {
    text-align: center;
}

.nb-avis {
    margin-bottom: 10px;
}

/* Bouton ajouter */
.button {
    position: relative;
}

button {
    background-color: rgb(86, 163, 166);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    transition: .3s;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}

button:hover {
    background-color: rgb(25, 100, 126);
    box-shadow: 0 0 0 5px rgb(183, 208, 217);
    color: #fff;
}

/* Lignes Articles */
.ligne-une,.ligne-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* CATEGORIES */
#categories {
    text-align: center;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categorie-item {
    margin: 10px;
    padding: 8px;
    text-align: center;
    border: 2px solid rgb(115, 130, 144);
    border-radius: 25px;
    position: relative;
    transition: transform 0.3s; 
}

.categorie-item:hover {
    transform: scale(1.1); 
}

.categorie-item img {
    height: 300px;
    width: 300px;
    border-radius: 25px;
}

.categorie-item h3 {
    margin: 5px 0;
}

/* BAS DE PAGE */
footer {
    background-color:rgb(25, 100, 126);
    text-align: center;
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
}

footer p {
    color: rgb(255, 255, 255);
    text-align: center;
}

footer div {
    display: inline-block;
    width: 30%; 
    margin: 0px;
    padding: 0px;
    text-align: center;
}


footer a {
    text-decoration: none;
    color: rgb(255, 170, 0);
}



/* Pour ordinateurs */




/* Pour tablettes et téléphones) */

@media (max-width: 768px) {
    /* Haut de page */
    #liens-navbar ul {
        flex-direction: column;
        padding: 0px;
    }

    #liens-navbar a {
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        color: rgb(255, 255, 255);
        transition: color 0.3s ease;
    }    

    .menu-deroulant {
        display: block;
    }

    .menu-deroulant .deroulant-btn {
        display: block;
    }
    
    #logo {
        height: 30px;
    }

    header {
        text-align: center;
        padding-bottom: 0px;
        background-color: rgb(86, 163, 166);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        color: rgb(255, 255, 255);
        position:relative;
        padding-top: 150px;
    }    
    
    header img{
        height: 220px;
        display: flex;
    }

    img#nom{
        height: 100px;
    }

    /* Message promotionnel */
    .promotion-message {
    background-color: rgb(84, 166, 124);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    }

    
    
}



