@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    background-color:rgb(245, 245, 245);
    padding: 0;
    margin: 0;
}

/* HAUT DE PAGE */

header {
    text-align: center;
    padding-bottom: 0px;
    background-color: rgb(86, 163, 166);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: rgb(255, 255, 255);
    position:relative;
}

header img{
    height: 300px;
    justify-content: end;
}

.marque {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    padding-top:70px;
}

/* Styles pour la barre de navigation */
nav {
    background-color: rgb(25, 100, 126);
    position:fixed;
    justify-content: start;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

#liens-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0;
}

#liens-navbar a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    transition: color 0.3s ease;
}


#liens-navbar a:hover {
    border: 1px solid rgb(243, 247, 254);
}

/* Styles pour le menu déroulant */

.menu-deroulant{
    float: left;
    overflow: hidden;
}

.menu-deroulant .deroulant-btn{
    font-size:18px;
    border:none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(25, 100, 126);
    margin: 0;
}    

.menu-deroulant:hover .deroulant-btn{
    background-color: rgb(25, 100, 126);
}

.menu-contenu{
    display: none;
    position: absolute;
    background-color: rgb(25, 100, 126);
    min-width: 160px;
    z-index: 1;
}

.menu-contenu a{
    float: none;
    color: rgb(243, 247, 254);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-contenu a:hover{
    background-color: rgb(115, 130, 144);
}

.menu-deroulant:hover .menu-contenu{
    display: block;
}

/* ------------Barre de recherche---------- */
form {
    display: flex;
    justify-content: center;
}
  .recherche input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
.recherche input[type="text"]::placeholder {
    color: rgb(25, 100, 126);
    text-align: center;
}
  
.recherche img {
    margin-top: 3px;
    margin-left: 5px;
    width: 28px; 
    height: 28px;
    cursor: pointer;
}

/* Message promotionnel */
.promotion-message {
    background-color: rgb(84, 166, 124);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.promotion-message p {
    margin: 0;
}

h1 {
    text-align: center;
}

/* ARTICLE */
h5{
    padding: 30px;
    color: rgb(227, 116, 5);
    text-align: center;
    font-size: 18px;
}
main {
    margin: 0px;
    margin-bottom: 30px;
    padding: 40px;
}

.ligne-produit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    transition: transform 0.2s;
}

/*Pour tablettes) */
@media (max-width: 1024px) {
    article {
        width: 45%; 
    }
}

/* ¨Pour téléphone */
@media (max-width: 768px) {
    article {
        width: 100%; 
    }
}

article:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.haut {
    position: absolute;
    z-index: 1;
    margin-top: 6px;
    color: #f3f7fe;
}

.stock,
.reduction,
.edition {
    border-radius: 10px;
    padding: 5px;
}

.stock {
    border: 1px solid rgb(91, 137, 73);
    background-color: rgb(91, 137, 73);
    margin-left: 5px;
}

.reduction {
    border: 1px solid rgb(164, 52, 52);
    background-color: rgb(164, 52, 52);
}

.edition {
    border: 1px solid rgb(112, 52, 164);
    background-color: rgb(112, 52, 164);
}

.produit {
    position: relative;
    z-index: 0;
    height: 300px;
    width: 300px;
    border-radius: 25px;
}

h2,
h3 {
    text-align: center;
    color: rgb(25, 100, 126);
    margin: 0;
    padding: 2px;
}

h4 {
    color: #f3f7fe;
    text-align: center;
}

/* Dessous image */
.prix {
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    font-weight: 600;
    color: rgb(6, 45, 59);
}

.prix-normal {
    text-decoration: line-through;
    font-weight: 600;
    color: rgb(25, 100, 126);
}

.etoile {
    height: 20px;
    width: 100px;
}

.avis {
    text-align: center;
}

.nb-avis {
    margin-bottom: 10px;
}

/* Bouton ajouter */
.button {
    position: relative;
}

button {
    background-color: rgb(86, 163, 166);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    transition: .3s;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}

button:hover {
    background-color: rgb(25, 100, 126);
    box-shadow: 0 0 0 5px rgb(183, 208, 217);
    color: #fff;
}




/* BAS DE PAGE */

footer {
    background-color:rgb(25, 100, 126);
    text-align: center;
    padding: 0px;
    padding-bottom: 10px;
    width: 100%;
}

footer p {
    color: rgb(255, 255, 255);
    text-align: center;
}

footer div {
    display: inline-block;
    width: 30%; 
    margin: 0px;
    padding: 0px;
    text-align: center;
}


footer a {
    text-decoration: none;
    color: rgb(255, 170, 0);
}



/* RESPONSIVE */
@media screen and (max-width: 768px) {
    #liens-navbar ul {
        flex-direction: column;
    }

    #liens-navbar a {
        padding: 10px 0;
    }

    .deroulant-content {
        position: static;
        display: none;
    }

    .deroulant:hover .dropdown-content {
        display: block;
    }
}
nav li ul{
    text-align: center;
}
#logo {
    height: 40px;
}

/* panier */
#panier {
    display: flex;
    align-items: center;
}

#panier-img {
    height:30px;
    margin-top: 4px;
    cursor: pointer;
}

/* Styles pour les écrans plus petits (par exemple, tablettes et téléphones) */
@media (max-width: 768px) {
    #liens-navbar ul {
        flex-direction: column;
        padding: 10px;
    }

    #liens-navbar a {
        padding: 10px 0; 
        display: block; 
        text-align: center; 
    }
}



/* Ajustements pour les écrans de taille moyenne (par exemple, tablettes) */
@media (max-width: 1024px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

/* Ajustements pour les écrans plus petits (par exemple, téléphones) */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

