/* ACCUEIL*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Frank+Ruhl+Libre&display=swap');


body {
    background-color: #f4f4f4;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Frank Ruhl Libre', serif;
}

/* Barre de navigation */
nav {
    background-color: #160120;
    color: #fff;
    position: fixed; /* barre nav fixe*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; /*barre de navigation au-dessus du contenu */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent; 
    transition: border-color 0.3s ease; 
}

nav a:hover {
    border-color: #fff; 
}

/* Titre */

header {
    text-align: center;
    padding-top: 100px; 
    padding-bottom: 50px;
    background-image: url('photo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: #fff;
    position:relative;
}

#imgprofil {
    max-width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto 20px; 
    border: 5px solid #fff; 
    border-radius: 50%; 
}

h1 {
    font-size: 36px;
}

/* Section A propos */
#a-propos {
    padding: 40px;
    background-color: #f8f8f8; 
    margin: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    text-align: center; 
}

/* Titre */
#a-propos h2 {
    font-size: 28px; 
    color:#2f0052; 
}

/* Texte */
#a-propos p {
    font-size: 16px;
    margin-top: 20px; 
    line-height: 1.6; 
    color:#401868
}

/* Articles */
#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  

  
  /* Styles pour les articles */
  article {
    flex: 0 0 calc(33.33% - 20px); /* Largeur article avec marge */
    margin: 10px; 
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    transition: transform 0.3s, border-color 0.3s; 
    display: flex; 
    flex-direction: column; 
  }
  
  /* Styles survole article */
  article:hover {
    transform: scale(1.05);
    border-color:#160120;
  }
  
  /* Contenu article */
  article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  article h3 {
    text-align: center;
    text-decoration: underline;
    color: #260052;
  }
  
  strong {
    color: #57408e;;
  }
  
  article p{
    text-align: center;
    color: #401868;
  }

  article a {
    display: block;
    text-align: center;
    margin-top: auto;
    text-decoration: none;
    color: #6a75b4;
    font-weight: bold;
  }
  
  article a:hover {
    text-decoration: underline;
  }
  
/* Footer */
footer {
    text-align: center;
    background-color:#160120;
    color: #fff;
    padding: 05px;
    margin-top: 25px;
}

@media only screen and (max-width:600px){
    nav a {
      
  }
}