/* CONTACT*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Frank+Ruhl+Libre&display=swap');

body {
    background-color: #f4f4f4;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Frank Ruhl Libre', serif;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Barre de navigation */
nav {
    background-color:#160120;
    color: #fff;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent; 
    transition: border-color 0.3s ease; 
}

nav a:hover {
    border-color: #fff; 
}

/* Titre */
header {
    text-align: center;
    padding: 50px 0; 
    background-image: url(image/photo.jpg);
    color: #fff;
}

h1 {
    font-size: 36px;
}

h2{
    color: #7203ae;
}
/* Section Contact */
#contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #7203ae;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #160120;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #6b23c9;
}

/* Footer */
footer {
    text-align: center;
    background-color: #160120;
    color: #fff;
    padding: 05px;
    margin-top: 35px;
}


