@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Frank+Ruhl+Libre&display=swap');


body {
    font-family: Arial, sans-serif;
    background-image: url(photo.jpg);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, p{
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* Barre de navigation */
nav {
    background-color: #160120;
    color: #fff;
    position: fixed; /* barre nav fixe*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; /*  barre de navigation au-dessus du contenu */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent; 
    transition: border-color 0.3s ease; 
}

nav a:hover {
    border-color: #fff; 
}

/* Titre */
header {
    text-align: center;
    padding-top: 100px; 
    padding-bottom: 10px;
    background-image: url('fond2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative; 
}

#imgprofil {
    max-width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto 20px; 
    border: 5px solid #160120;
    border-radius: 50%; 
}

h1 {
    font-size: 36px;
    color: #160120;
}

/* Sections */
section {
    background-color: #fff;
    margin: 20px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    margin
}

section h2, h1{
    font-size: 24px;
    color: #160120;
}

section p {
    font-size: 16px;
    color: #57408e;
    line-height: 1.6;
}

/* Liens */
a {
    color: #f55200;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Footer */
footer {
    text-align: center;
    background-color: #160120;
    color: #fff;
    padding: 05px;
    margin-top: 25px;
}
